body
{
    font-family: 'Roboto', sans-serif;
    color: #31201A;
}

p
{
    color:#31201A;
}

.logobar
{
    margin: 0px;
    background-color: #EEE2DD;
}


.jumbotron
{
    height: 100px;
}

ul {
  list-style-type: none;
}

.pad
{
    padding: 5px;
}

footer
{
    background-color: #EEE2DD;
    padding: 50px;
}

.padding-0
{
    padding-right:0;
    padding-left:0;
}

a
{
    color:black;
}

a:hover
{
    color: saddlebrown;
}

#box
{
    padding: 20px;
    margin: 20px;
}