body
{
    font-family: 'Roboto', sans-serif;
    color: #31201A;
}

p
{
    color:#31201A;
}

.logobar
{
    margin: 0px;
    background-color: #EEE2DD;
}

.jumbotron
{
    height: 100px;
}

ul {
  list-style-type: none;
}

.pad
{
    padding: 5px;
}

footer
{
    background-color: #EEE2DD;
    padding: 50px;
}

.padding-0
{
    padding-right:0;
    padding-left:0;
}

.vl 
{
    border-left: 2px solid grey;
    height: 80px;
}

a
{
    color:black;
}

a:hover
{
    color: saddlebrown;
}

.wrapper 
{
    display: flex;
    align-items: stretch;
}  

#sidebar 
{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: darkgrey;
    padding: 20px;
    
}

#sidenav
{
    padding:15px;
}

#box
{
    padding: 20px;
    margin: 20px;
}

